<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<h2 th:text="${'Welcome '+session.USER_NAME}"></h2>

<form class="form-signin" method="post" th:action="@{/add_post}" th:object="${customUser}">
    <label>Name</label>
    <input type="text" th:field="*{name}" >
    <span  th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <label>Email</label>
    <input type="email" th:field="*{email}" >
    <p  th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
    <label>Pass</label>
    <input type="text" th:field="*{pass}" >
    <span  th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}"></span>
    <label>Role</label>
    <select th:field="*{roles}" >
        <option value="" selected>Select Role</option>
        <option value="ADMIN" >ADMIN</option>
        <option value="" >USER</option>
    </select>
    <span  th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></span>
    <button type="submit" >Save</button>
</form>

</body>
</html>