<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
<h2 class="text-center" th:text="${'Welcome '+session.USER_NAME}"></h2>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <h4 class="card-title"> Add User</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <form class="form-sign" method="post" th:action="@{/add_post}" th:object="${customUser}">
                            <p>
                                <label>Name</label>
                                <input type="text" th:field="*{name}" class="form-control">
                                <span  th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                            </p>

                            <p>
                                <label>Email</label>
                                <input type="email" th:field="*{email}" class="form-control">
                                <span  th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                            </p>

                            <p>
                                <label>Pass</label>
                                <input type="text" th:field="*{pass}" class="form-control">
                                <span  th:if="${#fields.hasErrors('pass')}" th:errors="*{pass}"></span>
                            </p>
                            <p>
                                <label>Role</label>
                                <select th:field="*{roles}" class="form-control">
                                    <option value="" selected>Select Role</option>
                                    <option value="ROLE_ADMIN" >ADMIN</option>
                                    <option value="ROLE_USER" >USER</option>
                                </select>
                                <span  th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></span>
                            </p>




                            <button class="btn btn-lg btn-primary btn-block" type="submit" >Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>



</body>
</html>